[submodule "zsh-autosuggestions"]
	path = /Users/U793278/code/dotfiles/.zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "/Users/U793278/code/dotfiles/.zsh/zsh-autosuggestions/suggestions"]
	path = /Users/U793278/code/dotfiles/.zsh/zsh-autosuggestions/suggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".vim/pack/bundle/opt/base16-vim"]
	path = .vim/pack/bundle/opt/base16-vim
	url = https://github.com/tinted-theming/tinted-vim.git
[submodule ".zsh/tinted-shell"]
	path = .zsh/tinted-shell
	url = https://github.com/tinted-theming/tinted-shell.git
	shallow = true
[submodule "vendor/tinted-terminal"]
	path = vendor/tinted-terminal
	url = https://github.com/tinted-theming/tinted-terminal.git
	shallow = true
[submodule "vendor/tinted-tmux"]
	path = vendor/tinted-tmux
	url = https://github.com/tinted-theming/tinted-tmux.git
	shallow = true
