set number
set relativenumber
set scrolloff=3
set clipboard+=unnamed
set idearefactormode=keep

set incsearch
set ignorecase
set smartcase

set surround
set NERDTree
set ideajoin

let mapleader=" "

" Copy until end of line
nnoremap Y y$
" New line above
nnoremap <S-Enter> O<Esc>
" New line below
nnoremap <LF> o<Esc>
" New line below insert mode
inoremap <C-j> <Esc>o
" Go to last buffer
map <leader><leader> <Action>(JumpToLastChange)
" Quick documentation
map <S-k> <Action>(QuickJavaDoc)
" StretchSplitToLeft
map <C-A-S-h> <Action>(StretchSplitToLeft)
" StretchSplitToRight
map <C-A-S-l> <Action>(StretchSplitToRight)
" StretchSplitToBottom
map <C-A-S-k> <Action>(StretchSplitToBottom)
" StretchSplitToTop
map <C-A-S-j> <Action>(StretchSplitToTop)
" Unfold to level
map zr <Action>(ExpandToLevel)

" Rename
nmap <leader>/r <Action>(RenameElement)
" Usages all
nmap <leader>* <Action>(FindUsages)
" Move to window left
nmap <leader>wh <C-w><C-h>
" Move to window below
nmap <leader>wj <C-w><C-j>
" Move to window above
nmap <leader>wk <C-w><C-k>
" Move to window right
nmap <leader>wl <C-w><C-l>
" Split window vertically
nmap <leader>wv <Action>(SplitVertically)
" Split window horizontally
nmap <leader>ws <Action>(SplitHorizontally)
" Move to opposite group
nmap <leader>wx <Action>(MoveEditorToOppositeTabGroup)
" Close split
nmap <leader>wq <Action>(Unsplit)
" Move line down
nmap <leader>lj <Action>(MoveLineDown)
" Move line up
nmap <leader>lk <Action>(MoveLineUp)
" Move statement down
nmap <leader>sj <Action>(MoveStatementDown)
" Move statement up
nmap <leader>sk <Action>(MoveStatementUp)
